.paper-left {
    float: left;
    
}

.button-right {
    float: right;
}

.commit_changes_button {
    margin: 30px;
    color: black;
}

.bordered-input {
    border: 1px solid red;
    padding: 3px;
}
